In [18]:
# Import Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [19]:
#file_location

file_location = r'F:\data Immersion\Preparing and Analzing Data\Raw\Advanced Analytics & Dashboard Design(Achievement 6)\Final report'

In [20]:
file_location

'F:\\data Immersion\\Preparing and Analzing Data\\Raw\\Advanced Analytics & Dashboard Design(Achievement 6)\\Final report'

In [21]:
# Importing housing data

df_aqi = pd.read_csv(os.path.join(file_location, '02 Data', 'original Data', 'US_AQI.csv'))

In [22]:
# Checking data shape

df_aqi.shape

(1048575, 15)

In [23]:
# Checking data types

In [24]:
df_aqi.dtypes

count                          int64
CBSA Code                      int64
Date                          object
AQI                            int64
Category                      object
Defining Parameter            object
Number of Sites Reporting      int64
city_ascii                    object
state_id                      object
state_name                    object
lat                          float64
lng                          float64
population                     int64
density                        int64
timezone                      object
dtype: object

In [25]:
pd.options.display.max_columns = None

In [26]:
df_aqi.describe()

,count,CBSA Code,AQI,Number of Sites Reporting,lat,lng,population,density
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,5.336666e+05,2.990555e+04,4.117570e+01,3.402776e+00,3.857078e+01,-9.504546e+01,4.666714e+05,1.007910e+03
std,3.081203e+05,1.149723e+04,2.197802e+01,4.947910e+00,5.814328e+00,1.695123e+01,1.383937e+06,9.344878e+02
min,0.000000e+00,1.010000e+04,0.000000e+00,1.000000e+00,1.797430e+01,-1.593521e+02,1.903000e+03,4.000000e+00
25%,2.671975e+05,1.982000e+04,3.000000e+01,1.000000e+00,3.476900e+01,-1.085526e+02,2.393500e+04,5.040000e+02
50%,5.330120e+05,2.954000e+04,3.900000e+01,2.000000e+00,3.937970e+01,-8.996630e+01,9.877500e+04,7.760000e+02
75%,8.003035e+05,4.018000e+04,4.900000e+01,3.000000e+00,4.243330e+01,-8.199570e+01,3.002680e+05,1.189000e+03
max,1.067901e+06,4.974000e+04,2.060000e+03,4.700000e+01,6.483530e+01,-6.606100e+01,1.868002e+07,1.076800e+04

In [27]:
# cheak for Duplicated data
df_duplicated = df_aqi[df_aqi.duplicated()]

In [28]:
df_duplicated

Empty DataFrame
Columns: [count, CBSA Code, Date, AQI, Category, Defining Parameter, Number of Sites Reporting, city_ascii, state_id, state_name, lat, lng, population, density, timezone]
Index: []

# NO duplicated found

In [29]:
# changing columns name 
df_aqi.rename( columns = {'lat' : 'latitude' }, inplace = True)

In [30]:
df_aqi.rename( columns = {'lng' : 'longitude' }, inplace = True)

In [32]:
# drop state_id Columns
df_aqi.drop(columns = [ 'state_id' ])

,count,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_name,latitude,longitude,population,density,timezone
0,0,10140,01/01/2022,21,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
1,1,10140,02/01/2022,12,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
2,2,10140,03/01/2022,18,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
3,3,10140,04/01/2022,19,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
4,4,10140,05/01/2022,17,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1067897,13900,11/06/2015,66,Moderate,PM2.5,2,Bismarck,North Dakota,46.8143,-100.7694,90420,817,America/Chicago
1048571,1067898,13900,12/06/2015,53,Moderate,PM2.5,2,Bismarck,North Dakota,46.8143,-100.7694,90420,817,America/Chicago
1048572,1067899,13900,13/06/2015,58,Moderate,Ozone,2,Bismarck,North Dakota,46.8143,-100.7694,90420,817,America/Chicago
1048573,1067900,13900,14/06/2015,61,Moderate,Ozone,2,Bismarck,North Dakota,46.8143,-100.7694,90420,817,America/Chicago
1048574,1067901,13900,15/06/2015,34,Good,Ozone,2,Bismarck,North Dakota,46.8143,-100.7694,90420,817,America/Chicago

In [33]:
df_aqi_clean = df_aqi.drop(columns = ['state_id'])

In [34]:
df_aqi_clean.head()

,count,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_name,latitude,longitude,population,density,timezone
0,0,10140,01/01/2022,21,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
1,1,10140,02/01/2022,12,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
2,2,10140,03/01/2022,18,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
3,3,10140,04/01/2022,19,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
4,4,10140,05/01/2022,17,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles

In [35]:
df_aqi_clean.dtypes

count                          int64
CBSA Code                      int64
Date                          object
AQI                            int64
Category                      object
Defining Parameter            object
Number of Sites Reporting      int64
city_ascii                    object
state_name                    object
latitude                     float64
longitude                    float64
population                     int64
density                        int64
timezone                      object
dtype: object

In [36]:
# Checking mixed data types

In [37]:


for col in df_aqi_clean.columns.tolist():
  weird = (df_aqi_clean[[col]].applymap(type) != df_aqi_clean[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_aqi_clean[weird]) > 0:
    print (col)

No mixed data

In [38]:
# Checking for missing values

df_aqi_clean.isnull().sum()

count                        0
CBSA Code                    0
Date                         0
AQI                          0
Category                     0
Defining Parameter           0
Number of Sites Reporting    0
city_ascii                   0
state_name                   0
latitude                     0
longitude                    0
population                   0
density                      0
timezone                     0
dtype: int64

In [ ]:
# no missing data

In [39]:
df_aqi_clean_clean = df_aqi_clean.drop(columns = ['count'])

In [40]:
df_aqi_clean_clean.head()

,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_name,latitude,longitude,population,density,timezone
0,10140,01/01/2022,21,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
1,10140,02/01/2022,12,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
2,10140,03/01/2022,18,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
3,10140,04/01/2022,19,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles
4,10140,05/01/2022,17,Good,PM2.5,2,Aberdeen,Washington,46.9757,-123.8094,16571,588,America/Los_Angeles

In [41]:
# Exporting as csv file

df_aqi_clean_clean.to_csv(os.path.join(file_location, '02 Data', 'ready data', 'US_AQI_clean.csv'))